.main-container {
  text-align: center;
  background: #f2f2f2;
  width: 100%;
}

.main-card {
  padding: 50px;
  min-height: 630px;
}

img {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}

.card-text {
  min-height: 50px;
}

.card {
  margin: 0 10px;
}

.row {
  margin-top: 50px;
}

.back-btn {
  float: left;
  max-width: 100px;
  text-decoration: none;
}

html {
  background: #f2f2f2;
  padding: 30px;
}
